<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src= "{{ url_for('static', filename='rouletteApp.js') }}"></script>
</head>

<body ng-app="rouletteApp" ng-init="existing={{existing}}">
<br>
	{[existing]}
<br>
<br>
	<div class="container">
		<div ng-controller="firstController" class"col-centered">
			<form class="form-inline" id="todo-form" ng-submit="addForReview()" method="post">
				<div class="form-group">
				<label for="new-name">Name:</label> 
				<input class="form-control" type="text" id="new-name" placeholder="name your addition" ng-model="newName" autofocus>
				</div>
				<div class="form-group">
				<label for="new-url">URL:</label>  
				<input class="form-control" type="text" id="new-url" placeholder="add url for review" ng-model="newUrl" autofocus></div>
				<button class="btn btn-sm btn-primary" type="button" ng-click="addForReview()">Add for review</button>

			</form>

			<br>

			<table class="table table-striped" >
			<tr ng-repeat="url in existing">
				<td class="col-md-2">{[url.name]} :</td> 
				<td class="col-md-6"><a>{[url.url]}</a></td>
				<td class="col-md-2"><button class="btn btn-danger btn-sm col-sm-offset-2" ng-click="removeUrl(url)" >remove</button></td>
			</tr>
			</table>
		</div>
	</div>

</body>

</html>
