<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src= "{{ url_for('static', filename='dependencies/checklist-model.js') }}"></script>
    <script src= "{{ url_for('static', filename='rouletteApp.js') }}"></script>
    <script src= "{{ url_for('static', filename='controllers/submissions.js') }}"></script>
    <script src= "{{ url_for('static', filename='controllers/reviewsReceived.js') }}"></script>
</head>

<body ng-app="rouletteApp" ng-init="existing={{existing}}; token='{{session['github_token'][0]}}'; github_user='{{session['github_user']}}'">
<br>

<div class="col-md-2 navbar-inner" ng-init="menuButton = 'submissions'" >
    <h2>GitRoulette</h2>
    <a class="list-group-item" ng-class="{active: menuButton == 'submissions'}" href="" ng-click="menuButton='submissions'">Submisions</a></li>
    <a class="list-group-item" ng-class="{active: menuButton == 'received'}" href="" ng-click="menuButton='received'">Reviews received</a></li>
    <a class="list-group-item" ng-class="{active: menuButton == 'made'}" href="" ng-click="menuButton='made'">Reviews made</a></li>
</div>
<br>

<div ng-show="menuButton=='submissions'" ng-controller="submissions" class"col-centered">
    <div class="col-md-offset-3">
        <form class="form-inline" id="todo-form" ng-submit="addForReview()" method="post">
            <div class="form-group">
                <label for="new-name">Name:</label> 
                <input class="form-control" type="text" id="new-name" placeholder="name your addition" ng-model="newName" autofocus>
            </div>
            <div class="form-group">
                <label for="new-url">URL:</label>
                <input class="form-control span6" type="text" id="new-url" placeholder="add url for review" ng-model="newUrl" autofocus> 
            </div> 
            <button class="btn btn-sm btn-primary glyphicon glyphicon-plus" type="button" ng-click="addForReview()"></button>

            <span class="text-danger" ng-show="showWarning">Please fill in the fields!</span>
            <span class="text-danger" ng-show="showGithubWarning">Not a github commit or pull request!</span>
        </form>
    </div>
    <br>

    <div class="container col-md-9">
        <table class="table table-striped" >
            <tr>
                <td>Name</td>
                <td>URL to be reviewed</td>
                <td>Project stats</td>
                <td></td>
            </tr>
            <tr ng-repeat="url in existing">
                <td class="col-md-2">{[url.name]} :</td> 
                <td class="col-md-6"><a>{[url.url]}</a></td>
                <td ng-init="getStats(url.url)"> 
                    <option ng-repeat="(key, value) in stats[url.url]">{[key]}: {[value]} %</option> 
                </td>

                <td class="col-md-2"><button class="btn btn-danger btn-sm col-sm-offset-2 glyphicon glyphicon-remove" ng-click="removeUrl(url)" ></button></td>
            </tr>
        </table>
    </div>
</div >

<div ng-show="menuButton=='received'" ng-controller="reviewsReceived" ng-init="getEntryComment()">
    <div class="container col-md-9">
        <table class="table table-striped" ng-repeat="(key, value) in comments">
            <tr class="info">
                <td class="col-md-2">
                <td class="col-md-6"><center><strong>{[key]}</strong></center></td> 
                <td class="col-md-2">
                <td class="col-md-2">
            </tr>
            <tr ng-repeat="entry in value">
                <td class="col-md-2">{[entry.user.login]} :</td> 
                <td class="col-md-6">{[entry.body]}</td>
                <td class="col-md-2" align="right"><img src='{[entry.user.avatar_url]}' height="72" width="72"/></td>
                <td class="col-md-2">
                <ul class="list-unstyled" align="right">
                    <li><button class="btn-sm btn-success glyphicon glyphicon-thumbs-up" ng-click="goodJob(entry)"/></li>
                    <p/>
                    <li><button class="btn-sm btn-danger glyphicon glyphicon-thumbs-down" ng-click="noThanks(entry)"/></li>
                </ul>
                </td>
            </tr>
        </table>
    </div>
    
</div>

<div ng-show="menuButton=='made'">

</div>
</body>
</html>
