<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src= "{{ url_for('static', filename='rouletteApp.js') }}"></script>
</head>

<body>
<div ng-app="timerTenK" ng-init="existingUsers={{existingUsers}}">

<b>Users Are:</b>
<p ng-repeat="user in existingUsers">{[ user.username ]}</p>
<p ng-repeat="user in existingUsers">{[ user.email ]}</p>

</div>
</body>

</html>